.sort {
  margin-left: 60rem;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  font-family: sans-serif;
}

.form-select.sort-select {
  padding: 0.5rem 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: #495057;
  background-color: #fff;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  max-width: 200px;
}

.form-select.sort-select:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


.form-select.sort-select option {
  font-size: 1rem;
  background-color: #fff; 
  color: #495057; 
}
