.recommended-flex {
  display: flex;
  margin-left: 20rem;
}

.recommended-title {
  margin-left: 20rem;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  font-family: sans-serif;
}

.btns {
  padding: 10px 20px;
  margin-right: 6px;
  background: transparent;
  border: none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #323232;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .recommended-title,
  .recommended-flex {
    margin-left: 0;
    justify-content: center;
  }

  .recommended-title {
    margin: 10px 0;
  }

  .btns {
    margin: 5px;
  }
}
