.price-title {
  margin-top: 20px;
}

.ml {
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .price-title {
    margin: 10px 0; 
    text-align: center; 
  }

  .ml {
    margin: 0; 
  }
}
