* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}

li {
  list-style: none;
}

.load-more {
  padding: 20px 40px;
  margin-right: 6px;
  background: transparent;
  border: none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #323232;
  cursor: pointer;
  margin-left: 960px;
  margin-bottom: 20px;
}

.product-counter {
  text-align: center;
  margin: 10px 0;
  font-size: 14px;
  color: #888;
}

@media screen and (max-width: 768px) {
  .card-container {
    margin-left: 1rem;
    justify-content: space-between;
  }

  .load-more {
    width: 100%;
    margin-top: 1rem;
  }
}
